num_mesh_vertices 2000
min_mesh_vertices 1000
max_world_mesh_vertices 10000

grid_decimate true
near_cutoff_meters 0.57
near_width_meters 1.76
near_resolution_meters 0.05
far_cutoff_meters 1.30
far_width_meters 4
far_resolution_meters 0.1
far_depth_meters 4.5
nearApplyMinPoints true
nearApplyMeanWithin false
nearApplyMeanAmongAll true
nearApplyMeanNeighbors false
nearOutputFromMean true
nearMinGridPoints 10
farApplyMinPoints false
farApplyMeanWithin true
farApplyMeanAmongAll false
farApplyMeanNeighbors true
farOutputFromMean true
farMinGridPoints 5

covariance_decimate false
use_icp true

radius_0_meters 1.5
radius_1_meters 3.0
radius_2_meters 5.0
radius_3_meters 7.0
radius_4_meters 1000.0
radius_5_meters -7.0
radius_6_meters -5.0
radius_7_meters -3.0
radius_8_meters -1.5

max_speed_meters_per_sec 0.35
num_axle_checks 10
wheel_distance_meters 0.3
axle_height_meters 0.106
rover_length_meters 0.635
rover_width_meters 0.84
dangerous_roll_deg 40
dangerous_pitch_deg 40
safe_roll_deg 30
safe_pitch_deg 30

path_length_meters 4.5
path_resolution_meters 0.05
max_heading_change_deg 150.0
heading_resolution_deg 60.0
last_path_bonus 1.0
total_distance_along_arc_meters 4.0
num_points_per_arc 30
far_weight 0.5
reverse_path_length_scaling_factor 0.25
too_close_meters 0.0705
pose_watchdog_period_sec 18.0
map_watchdog_period_sec 18.0
reverse_path_risk_factor 1.25
reverse_speed_multiplier 0.70

pointcloud_topic /camera/depth/points
pointcloud_decimation_factor 0.0
step_size_meters 2.0
translate_forward_distance_meters 0

pose_estimate_topic /odometry/filtered

sensor_x_meters -0.04
sensor_y_meters 0.24
sensor_ground_height_meters -0.02
sensor_roll_rad 0
sensor_pitch_rad -1.9634
sensor_yaw_rad 0

max_altitude_meters 2.5
min_altitude_meters -2.0

rate_hz 1.5

keep_all_near false
keep_all_far false
